.count-tile {
    
}

.count-tile .metric {
margin: auto;
    font-size: 4rem;
    font-weight: 600;
    position: absolute;
    display:inline-block;
    height: 100wh;
    padding-top: 30px;
    top: 40px;
    right:0;
    left: 0;
    bottom: 0;
    text-align: center;
}