
#grid {
  position: absolute;
  top:100px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

.react-grid-item {
    background-color: #454545;
    border: none;
    padding: 1rem;
    box-sizing: border-box;
    margin-top: 30px;
}

.react-grid-item.blue {
    background-color: #508aad; 
    color: #fafafa; 
  }
  
  
  .react-grid-item.blue input {
    background-color: #3c7aa1; 
    border-color: #5f8a9d; 
    color: #fafafa; 
  }

  .react-grid-item.blue input::placeholder{
    color: #ccc; 
  }
  
  
  .react-grid-item.blue button {
    background-color: #3c7aa1; 
    border-color: #5f8a9d; 
    color: #fafafa; 
  }

  .react-grid-item.pink {
    background-color: #de7b6d; 
    color: #fafafa; 
  }
  
  
  .react-grid-item.pink input {
    background-color: #ae5e52; 
    border-color: #bb7c73; 
    color: #fafafa; 
  }
  
  
  .react-grid-item.pink button {
    background-color: #ae5e52; 
    border-color: #bb7c73; 
    color: #fafafa; 
  }

  
.react-grid-item.green {
    background-color: #81b760; 
    color: #fafafa; 
  }
  
  
  .react-grid-item.green input {
    background-color: #5d944e; 
    border-color: #729a65; 
    color: #fafafa; 
  }
  
  
  .react-grid-item.green button {
    background-color: #5d944e; 
    border-color: #729a65; 
    color: #fafafa; 
  }
  
.react-grid-item.purple {
    background-color: #9b70c8; 
    color: #fafafa; 
  }
  
  
  .react-grid-item.purple input {
    background-color: #7c519e; 
    border-color: #8f74b2; 
    color: #fafafa; 
  }
  
  
  .react-grid-item.purple button {
    background-color: #7c519e; 
    border-color: #8f74b2; 
    color: #fafafa; 
  }

.react-grid-item.peach {
    background-color: #e6a1af; 
    color: #333; 
  }
  
  
  .react-grid-item.peach input {
    background-color: #b47580; 
    border-color: #cc8a96; 
    color: #333; 
  }
  
  
  .react-grid-item.peach button {
    background-color: #b47580; 
    border-color: #cc8a96; 
    color: #333; 
  }

.react-grid-item.yellow {
    background-color: #e7c86f; 
    color: #333; 
  }
  
  
  .react-grid-item.yellow input {
    background-color: #baa264; 
    border-color: #d0b078; 
    color: #333; 
  }
  
  
  .react-grid-item.yellow button {
    background-color: #baa264; 
    border-color: #d0b078; 
    color: #333; 
  }
      

.react-grid-item h4 {
    position: relative;
    margin: 0;
    padding-bottom: 0.3rem;
    border-bottom: solid thin rgba(255,255,255,0.87);
}

.react-grid-item ul {
    list-style-type: none;
    padding-inline-start: 0;
    position: absolute;
    top: 40px;
    left: 1rem;
    right: 1rem;
    bottom: 0.2rem;
    padding: 0.2rem 0.4rem ;
    overflow: auto;
    background-color: rgba(0,0,0,0.1);
}

.react-grid-item li {
    margin-bottom: 0.5rem;
}